[submodule "Game_Music_Emu"]
	path = Game_Music_Emu
	url = git@bitbucket.org:kode54/game_music_emu.git
[submodule "File_Extractor"]
	path = File_Extractor
	url = git@bitbucket.org:kode54/file_extractor.git
[submodule "dumb"]
	path = dumb
	url = git@bitbucket.org:kode54/dumb.git
[submodule "midi_processing"]
	path = midi_processing
	url = git@github.com:kode54/midi_processing.git
[submodule "SegaCore"]
	path = SegaCore
	url = git@bitbucket.org:kode54/highly-theoretical.git
[submodule "PSXCore"]
	path = PSXCore
	url = git@bitbucket.org:kode54/highly-experimental.git
[submodule "QSoundCore"]
	path = QSoundCore
	url = git@bitbucket.org:kode54/highly-quixotic.git
[submodule "psflib"]
	path = psflib
	url = git@github.com:kode54/psflib.git
[submodule "viogsf"]
	path = viogsf
	url = git@github.com:kode54/viogsf.git
[submodule "hvl_replay"]
	path = hvl_replay
	url = git@bitbucket.org:kode54/foo_input_hvl.git
[submodule "libsfm"]
	path = libsfm
	url = git@github.com:kode54/bsnes-libretro-cplusplus98.git
[submodule "midisynth"]
	path = midisynth
	url = git@bitbucket.org:kode54/midisynth.git
