[submodule "Game_Music_Emu"]
	path = Game_Music_Emu
	url = git@github.com:kode54/Game_Music_Emu.git
[submodule "File_Extractor"]
	path = File_Extractor
	url = git@github.com:kode54/File_Extractor.git
[submodule "dumb"]
	path = dumb
	url = git@github.com:kode54/dumb.git
[submodule "midi_processing"]
	path = midi_processing
	url = git@github.com:kode54/midi_processing.git
[submodule "SegaCore"]
	path = SegaCore
	url = git@github.com:kode54/Highly_Theoretical.git
[submodule "PSXCore"]
	path = PSXCore
	url = git@github.com:kode54/Highly_Experimental.git
[submodule "QSoundCore"]
	path = QSoundCore
	url = git@github.com:kode54/Highly_Quixotic.git
[submodule "psflib"]
	path = psflib
	url = git@github.com:kode54/psflib.git
[submodule "viogsf"]
	path = viogsf
	url = git@github.com:kode54/viogsf.git
[submodule "hvl_replay"]
	path = hvl_replay
	url = git@github.com:kode54/foo_input_hvl
